<main>
    <section class="about">
        <div class="text">
            <h2> DevPasta – Uma História Feita com Amor</h2>
            <p>Há mais de 10 anos, a família Baruco trouxe o autêntico sabor da Itália para São Caetano do Sul. Tudo começou com Luigi, um imigrante italiano que transformou receitas centenárias em pratos cheios de alma e tradição.
                Hoje, mantemos viva essa herança com ingredientes selecionados, massas frescas e o mesmo carinho de quem cozinha para quem ama. Do clássico Spaghetti al Pomodoro aos segredos da Nonna's Tiramisù, cada garfada é uma viagem à Toscana sem sair do Brasil.</p>
        </div>
        <div class="img">
            <img src="/samuel-foster-LxD9fZYR2uw-unsplash-_1_-_1_-_1__1.webp" alt="">
        </div>
    </section>
    <section class="menu">
        <h2>Conheça nosso cardápio</h2>
        <div class="grid">
            <div class="card">
                <div class="card-img">
                    <img src="/canelone.webp" alt="">
                </div>
                <div class="card-body">
                    <span class="card-name">Canelone</span>
                    <p class="card-description">Massa fresca recheada com uma harmoniosa combinação de carne moída bovina gratinada no forno com molho de tomate caseiro e queijos derretidos.</p>
                    <div class="card-info">
                        <p class="card-price">R$ 100,00</p>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/nhoque.webp" alt="">
                </div>
                <div class="card-body">
                    <span class="card-name">Nhoque</span>
                    <p class="card-description">Massa fresca recheada com uma harmoniosa combinação de carne moída bovina gratinada no forno com molho de tomate caseiro e queijos derretidos.</p>
                    <div class="card-info">
                        <p class="card-price">R$ 110,00</p>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>