<header>
    <nav>
        <div class="nav-icons">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-facebook"></i>
            <a href="/login">LOGIN</a>
        </div>
        <div class="nav-logo">
            <a href="/"><i class="fa-solid fa-pizza-slice"><span>DevPasta</span></i></a>
        </div>
        <div class="nav-button">
            <button>Reservar mesa</button>
        </div>
    </nav>
    <h1>Saboreie autêntica culinária italiana<br>no DevPasta</h1>
</header>
