@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");
@media (width >= 768px) {
  .about {
    display: flex;
    flex-direction: row !important;
  }
}
@media (width >= 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .grid .card-img img {
    width: 100%;
    height: 100% !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    padding-bottom: 0 !important;
  }
}
@media (width >= 1024px) {
  .contact-container {
    display: flex;
    flex-direction: row !important;
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
main {
  max-width: 1240px;
  margin: auto;
}
main .about {
  display: flex;
  flex-direction: column;
  margin-top: 7dvh;
}
main .about div {
  flex: 1;
}
main .about .text {
  text-align: center;
  margin-right: 5dvh;
}
main .about .text h2 {
  font-weight: 600;
  margin-bottom: 5dvh;
}
main .about .text p {
  line-height: 2rem;
}
main .about img {
  filter: brightness(40%);
  border-radius: 2dvh;
  transition: transform 0.9s;
}
main .about img:hover {
  transform: scale(1.1);
}
main .menu {
  display: flex;
  flex-direction: column;
}
main .menu h2 {
  text-align: center;
  margin: 5dvh 5dvh;
}
main .menu .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3dvh;
  padding: 1dvh 1dvh;
}
main .menu .grid .card {
  display: flex;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  border-radius: 2dvh;
  overflow: hidden;
}
main .menu .grid .card div {
  flex: 1;
}
main .menu .grid .card .card-img img {
  width: 100%;
  height: 45dvh;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.9s;
  filter: brightness(60%);
}
main .menu .grid .card .card-img img:hover {
  transform: scale(1.1);
}
main .menu .grid .card .card-body {
  margin-left: 3dvh;
  text-align: center;
}
main .menu .grid .card .card-body .card-name {
  color: #ffffff;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 3dvh;
}
main .menu .grid .card .card-body .card-description {
  font-weight: 500;
  margin-bottom: 2dvh;
  margin-top: 3dvh;
  line-height: 1.5rem;
}
main .menu .grid .card .card-body .card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3dvh;
  padding-top: 1dvh;
}
main .menu .grid .card .card-body .card-info .card-price {
  font-weight: 500;
  font-size: 1.1rem;
}
main .menu .grid .card .card-body .card-info .add-to-cart-btn {
  background-color: rgb(104, 211, 104);
  margin-right: 3dvh;
  border: none;
  border-radius: 2dvh;
  width: 8dvh;
  height: 8dvh;
}
main .menu .grid .card .card-body .card-info .add-to-cart-btn:hover {
  background-color: rgb(40, 248, 40);
}
main .menu .grid .card .card-body .dish-rate {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1dvh;
}
main .menu .grid .card .card-body .dish-rate i {
  color: rgba(243, 243, 64, 0.801);
}
main .menu .grid .card .card-body .dish-rate span {
  font-family: "Poppins", serif;
  font-size: 1rem;
  color: #ffffff;
  margin-left: 1dvh;
}
main .menu .menu-button {
  display: flex;
  justify-content: center;
  margin-top: 5dvh;
}
main .menu .menu-button .menu-btn {
  background-color: rgb(104, 211, 104);
  width: 35dvh;
  height: 5dvh;
  border-radius: 2dvh;
  border: none;
  transition: background-color 0.9s;
  animation: pulse 1s infinite alternate;
}
main .menu .menu-button .menu-btn:hover {
  background-color: rgb(40, 248, 40);
}
main .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
main .testimonials h3 {
  margin: 0 0 2rem 0;
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 3rem;
  font-weight: 500;
  color: #ffffff;
}
main .testimonials .carousel {
  width: calc(3 * (300px + 2 * 15px));
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
main .testimonials .carousel .carousel-container {
  display: flex;
  width: calc(6 * (300px + 2 * 15px));
  animation: slide 30s linear infinite;
}
main .testimonials .carousel .carousel-container .card {
  flex: 0 0 300px;
  margin: 0 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  height: 500px;
}
main .testimonials .carousel .carousel-container .card img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .testimonials .carousel .carousel-container .card p:first-of-type {
  margin: 15px 10px;
  font-size: 1rem;
  color: #333;
  font-style: italic;
}
main .testimonials .carousel .carousel-container .card p:last-of-type {
  padding: 0 10px 15px;
  font-size: 0.9rem;
  color: #666;
  font-weight: bold;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 15px * 2));
  }
}

.contact {
  margin-top: 5dvh;
}
.contact .contact-container {
  display: flex;
}
.contact .contact-container .contact-container-text {
  flex: 1;
}
.contact .contact-container .form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact-container .form .name,
.contact .contact-container .form .email,
.contact .contact-container .form .message {
  display: flex;
}
.contact .contact-container .form .name p,
.contact .contact-container .form .email p,
.contact .contact-container .form .message p {
  margin-top: 2dvh;
  margin-right: 2dvh;
  color: #ffffff;
  text-align: center;
}
.contact .contact-container .form .name #text,
.contact .contact-container .form .name #email,
.contact .contact-container .form .name #msg,
.contact .contact-container .form .email #text,
.contact .contact-container .form .email #email,
.contact .contact-container .form .email #msg,
.contact .contact-container .form .message #text,
.contact .contact-container .form .message #email,
.contact .contact-container .form .message #msg {
  width: 70dvh;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Poppins", serif;
}
.contact .contact-container .form .name #text,
.contact .contact-container .form .name #email,
.contact .contact-container .form .email #text,
.contact .contact-container .form .email #email,
.contact .contact-container .form .message #text,
.contact .contact-container .form .message #email {
  height: 10dvh;
}
.contact .contact-container .form .name #msg,
.contact .contact-container .form .email #msg,
.contact .contact-container .form .message #msg {
  height: 30dvh;
}
.contact .contact-container .form .send-msg-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-container .form .send-msg-btn .submit-btn {
  margin-top: 3dvh;
  color: rgb(104, 211, 104);
  background-color: transparent;
  border: none;
  transition: color 0.8s;
}
.contact .contact-container .form .send-msg-btn .submit-btn:hover {
  color: rgb(40, 248, 40);
}

.location {
  display: flex;
  flex-direction: column;
}
.location h2 {
  margin: 5dvh 5dvh;
  text-align: center;
}/*# sourceMappingURL=main.component.css.map */