* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100%;
}

body {
    width: 100%;
    height: 100dvh;
    position: relative;
    outline: none;
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Roboto', serif;
    font-size: 3rem;
    color: $black;
}

p {
    font-family: 'Poppins', serif;
    font-size: 1rem;
    color: $black;
}

button {
    font-family: 'Poppins', serif;
    font-size: 1rem;
    color: $black;
    cursor: pointer;
}

a {
    cursor: pointer;
    font-family: 'Poppins', serif;
    font-size: 1rem;
    color: $green;
}

i {
    font-size: 1.3rem;
    color: $white;
}

img {
    width: 100%;
}

svg {
    width: 100%;
}

@media (width <= 768px) {
    h1, h2 {
        font-size: 1.5rem;
    }
}