@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

$red: rgb(252, 55, 55);
$secondaryRed: rgb(247, 36, 36);
$green: rgb(104, 211, 104);
$secondaryGreen: rgb(40, 248, 40);
$yellow: rgba(243, 243, 64, 0.801);
$secondaryYellow: rgba(240, 240, 82, 0.801);
$white: #ffffff;
$black: rgba(15, 15, 15, 0.87);